<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title>Patient</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/navigationStyles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body style="background: #EEF0F8;" onload="javascript:checkFeedBackValue()">
<div class="container-fluid p-0">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit"/>
    </form>
    <div>
        <nav class="navbar navbar-expand-lg bg-navbar text-light ">
            <a class="navbar-brand text-light m-0" th:href="@{/patienthomepage}">
                <img th:src="@{/images/careu_white_png.png}" alt="App logo" height="50" width="150">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <div class="dropdown-menu  dropdown-menu-right">
                            <a class="dropdown-item" id="profile-link" href="">Profile</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           sec:authentication="principal.fullname"></a>
                        <div class="dropdown-menu  dropdown-menu-right">
                            <a class="dropdown-item" id="profileSettings" th:href="@{/patientProfile}">Profile
                                Settings</a>
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container-fluid p-3">
    <div class="card card-custom mb-3">
        <div class="card-header  p-0 pl-3">
            <div class="card-title">
                <h3 class="card-label">Patient Feedback</h3>
            </div>
        </div>
        <!--begin::Body-->
        <div class="card-body">
            <form th:action="@{'/updatePatientFeedback/'+${appointmentModel.appointment_id}}" method="post"
                  style="max-width: 55em;margin: 0 auto;min-width: fit-content;"
                  th:object="${appointmentModel}">
                <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
                <div class="form-group row">
                    <div class="col-6">
                        <label class="col-form-label">Appointment Date:</label>
                        <input type="text" class="form-control" th:field="*{date}" required minlength="2" maxlength="45"
                               readonly><br/>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label">Consultation Type:</label>
                        <input type="text" class="form-control" th:field="*{consultationType}" required minlength="2"
                               maxlength="45" readonly><br/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <label class="col-form-label">Doctor name:</label>
                        <input type="text" class="form-control" th:field="*{doctorName}" required minlength="2"
                               maxlength="45" readonly><br/>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label">Doctor's Medication:</label>
                        <input type="text" class="form-control" th:field="*{medications}" required minlength="2"
                               maxlength="45" readonly><br/>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label class="col-form-label">Patient Feedback:</label>
                        <textarea rows="6" cols="57" id="patientFeedbackBox" name="feedback"
                                  th:field="*{patientFeedback}"></textarea><br/>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-primary m-3"/>
                    <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

    function checkFeedBackValue() {
        var a = `[[${appointmentModel.patientFeedback}]]`;
        a = a.toString()
        console.log(a);
        if (a == null || a.length <= 0) {
            //document.getElementById("patientFeedbackBox").setAttribute('readonly', 'readonly');
            document.getElementById("patientFeedbackBox").readOnly = false;
        }
        else {
            //document.getElementById("patientFeedbackBox").removeAttribute('readonly');
            document.getElementById("patientFeedbackBox").readOnly = true;
        }
    }


    $(document).ready(function () {
        $("#logoutLink").on("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit();
        });

        customizeDropDownMenu();
    });

    function customizeDropDownMenu() {
        $(".navbar .dropdown").hover(
            function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            },
            function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            }
        );

        $(".dropdown > a").click(function () {
            location.href = this.href;
        });
    }



</script>
</body>
</html>