<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Doctors</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/navigationStyles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body style="background: #EEF0F8;">
<div class="container-fluid p-0">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" />
    </form>
    <div>
        <nav class="navbar navbar-expand-lg bg-navbar text-light">
            <a class="navbar-brand text-light m-0" href="/">
                <img src="careu_white.svg" alt="App logo" height="50" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
<!--                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"-->
<!--                           sec:authentication="principal.fullname"></a>-->
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container-fluid p-3">
    <div class="card card-custom text-center m-2">
        <div class="card-header  p-0 pl-3">
            <div class="card-title">
                <h3 class="card-label"> Available doctors</h3>
            </div>
        </div>
        <div class="card-body">
            <form th:action="@{/searchDoctors}" method="get" class="mb-3 ml-4">
                <div class="row">
                    <div class="col-6">
                        <input style="width: 100%;" type="text" name="txtSearch" class="form-control m-0" id="txtSearch" placeholder="Enter search phrase"/>
                    </div>
                    <div class="col-6 text-left">
                        <button type="submit" class="btn btn-primary m-0 ">Search Doctor</button>
                    </div>
                </div>
            </form>
            <table>
                <tr th:each="doctor : ${doctorList}">
                    <div class="card card-custom  text-center m-2"
                         style="width: 17rem; display: inline-block; border: 1.5px solid #086ad86b;">
                        <div class="card-header  p-0 pl-3">
                            <div class="card-title" style="flex-direction: column;">
                                <h3 class="card-label">[[${doctor.firstName}]] [[${doctor.lastName}]]</h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <label class="card-text"><b>Specialization : </b>[[${doctor.doctor?.doctorSpel}]]</label><br>
                            <label class="card-text"><b>License : </b>[[${doctor.doctor?.doctorRegNumber}]]</label><br>
                            <label class="card-text"><b>Contact : </b>[[${doctor.phone}]]</label><br>
                        </div>
                        <div class="card-footer d-flex justify-content-between pr-4">
                            <a th:href="@{'/searchDoctors/'+${doctor.doctor?.doctor_id}}" class="btn btn-sm btn-info">Book Appointment</a>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#logoutLink").on("click", function(e) {
            e.preventDefault();
            document.logoutForm.submit();
        })
        customizeDropDownMenu();
    });

    function customizeDropDownMenu() {
        $(".navbar .dropdown").hover(
            function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            },
            function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            }
        );

        $(".dropdown > a").click(function () {
            location.href = this.href;
        });
    }
</script>
</body>
</html>