<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Doctor</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/navigationStyles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/table.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body style="background: #EEF0F8;">
<div class="container-fluid p-0">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit"/>
    </form>
    <div>
        <nav class="navbar navbar-expand-lg bg-navbar text-light">
            <a class="navbar-brand text-light m-0" th:href="@{/doctorhomepage}">
                <img src="careu_white.svg" alt="App logo" height="50" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="active"><a class="nav-link" href="/doctor-availability">Manage Availability</a></li>
                    <li class="nav-item dropdown">
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="profile-link" href="">Profile</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           th:href="@{/profile}"
                           sec:authentication="principal.name"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="profileSettings" th:href="@{/doctorProfile}">Profile
                                Settings</a>
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="container-fluid p-3">
    <div class="card card-custom mb-3">
        <div class="card-header  p-0 pl-3">
            <div class="card-title">
                <h3 class="card-label">Today's Appointments</h3>
            </div>
        </div>
        <!--begin::Body-->
        <div class="card-body">
            <tr th:if="${#lists.isEmpty(doctorTodaysAppointmentModels)}">
                <td>No appointments found.</td>
            </tr>
            <table class="table" th:if="${not #lists.isEmpty(doctorTodaysAppointmentModels)}">
                <thead>
                <tr>
                    <th scope="row">Date</th>
                    <th scope="row">Start Time</th>
                    <th scope="row">End Time</th>
                    <th scope="row">Patient</th>
                    <th scope="row">Consulation Type</th>
                    <th scope="row">Prescription</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="doctorTodaysAppointmentModels: ${doctorTodaysAppointmentModels}">
                    <td th:text="${doctorTodaysAppointmentModels.date}"></td>
                    <td th:text="${doctorTodaysAppointmentModels.start_time}"></td>
                    <td th:text="${doctorTodaysAppointmentModels.end_time}"></td>
                    <td th:text="${doctorTodaysAppointmentModels.patientName}"></td>
                    <td th:text="${doctorTodaysAppointmentModels.consultationType}"></td>
                    <td>
                        <a th:href="@{'/doctorPrescription/' + ${doctorTodaysAppointmentModels.appointment_id}}">Prescription</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-custom mb-3">
        <div class="card-header  p-0 pl-3">
            <div class="card-title">
                <h3 class="card-label">Future Appointments</h3>
            </div>
        </div>
        <!--begin::Body-->
        <div class="card-body">
            <tr th:if="${#lists.isEmpty(doctorFutureAppointmentModels)}">
                <td>No appointments found.</td>
            </tr>
            <table class="table" th:if="${not #lists.isEmpty(doctorFutureAppointmentModels)}">
                <thead>
                <tr>
                    <th scope="row">Date</th>
                    <th scope="row">Start Time</th>
                    <th scope="row">End Time</th>
                    <th scope="row">Patient</th>
                    <th scope="row">Consulation Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctorFutureAppointmentModels: ${doctorFutureAppointmentModels}">
                    <td th:text="${doctorFutureAppointmentModels.date}"></td>
                    <td th:text="${doctorFutureAppointmentModels.start_time}"></td>
                    <td th:text="${doctorFutureAppointmentModels.end_time}"></td>
                    <td th:text="${doctorFutureAppointmentModels.patientName}"></td>
                    <td th:text="${doctorFutureAppointmentModels.consultationType}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card card-custom">
        <div class="card-header  p-0 pl-3">
            <div class="card-title">
                <h3 class="card-label">Past Appointments</h3>
            </div>
        </div>
        <!--begin::Body-->
        <div class="card-body">
            <tr th:if="${#lists.isEmpty(doctorPastAppointmentModels)}">
                <td>No appointments found.</td>
            </tr>
            <table class="table" th:if="${not #lists.isEmpty(doctorPastAppointmentModels)}">
                <thead>
                <tr>
                    <th scope="row">Date</th>
                    <th scope="row">Start Time</th>
                    <th scope="row">End Time</th>
                    <th scope="row">Patient</th>
                    <th scope="row">Consulation Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctorPastAppointmentModels: ${doctorPastAppointmentModels}">
                    <td th:text="${doctorPastAppointmentModels.date}"></td>
                    <td th:text="${doctorPastAppointmentModels.start_time}"></td>
                    <td th:text="${doctorPastAppointmentModels.end_time}"></td>
                    <td th:text="${doctorPastAppointmentModels.patientName}"></td>
                    <td th:text="${doctorPastAppointmentModels.consultationType}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#logoutLink").on("click", function(e) {
            e.preventDefault();
            document.logoutForm.submit();
        });

        customizeDropDownMenu();
    });

    function customizeDropDownMenu() {
        $(".navbar .dropdown").hover(
            function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            },
            function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            }
        );

        $(".dropdown > a").click(function() {
            location.href = this.href;
        });
    }




</script>
</body>
</html>
