<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Doctors</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit" />
    </form>
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
            <a class="navbar-brand" th:href="@{/patienthomepage}">
                <h1>CareU</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                           sec:authentication="principal.fullname"></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <br>
    <h4>Search Doctor</h4>
    <form th:action="@{/searchDoctors}" method="get">
        <input id="txtSearch" type="text" name="keyword">
        <button type="submit">Go</button>
    </form>
    
    <div>
        <div>
            <br>
            <br>
            <h4 style="margin-left: 30px">
                Available doctors
            </h4>
            <br>
        </div>
        <div>
            <table>
                <tr th:each="doctor : ${doctorList}">
                    <div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2"
                         style="width: 17rem; display: inline-block">
                        <div class="card-body">
<!--                            <img class="card-img-top" th:src="@{/images/Picture.png}" alt="Card image cap">-->
                            <h5 class="card-title">[[${doctor.firstName}]] [[${doctor.lastName}]]</h5>
                            <label class="card-text"><b>Specialization : </b>[[${doctor.doctor?.specialization}]]</label>
                            <label class="card-text"><b>License : </b>[[${doctor.doctor?.license_number}]]</label>
                            <label class="card-text"><b>Contact : </b>[[${doctor.doctor?.doctorContact}]]</label>
                            <a th:href="@{'/searchDoctors/'+${doctor.doctor?.doctor_id}}" class="btn btn-primary">Book Appointment</a>
                        </div>
                    </div>
                </tr>

            </table>
        </div>
    </div>

    <div class="text-center fixed-bottom">
        <p>CareU - Copyright &copy; CareU</p>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#logoutLink").on("click", function(e) {
            e.preventDefault();
            document.logoutForm.submit();
        })
        customizeDropDownMenu();
    });
</script>
</body>
</html>