<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
	<title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/navigationStyles.css}"/>
</head>
<body style="background: #3362cc;">
<div class="container container-fluid p-0">
	<div class="card border-none">
		<div class="card-body p-1">
			<div class="row m-0">
				<div class="col-6 col-md-6 col-lg-6 col-sm-none">
					<img src="forgot_password.svg" class="img img-fluid mt-4"
						 alt="forgot page image" height="500" width="500">
				</div>
				<div class="col-6 col-md-6 col-lg-6 col-sm-none align-items-center  p-3">
					<div class="mb-3">
						<h2 class="text-center mt-5 ">Forgot Password</h2>
					</div>
					<div th:if="${message != null}" class="alert alert-success text-center">
						[[${message}]]
					</div>

					<form th:action="@{/forgot_password}" method="post" style="max-width: 350px; margin: 0 auto">
						<div th:if="${error != null}">
							<p class="text-danger">[[${error}]]</p>
						</div>
						<div th:if="${message != null}">
							<p class="text-warning">[[${message}]]</p>
						</div>
							<div class="mb-3">
								<p>We will be sending a reset password link to your email.</p>
							</div>
							<div>
								<p>
									<input type="email" name="email" class="form-control" placeholder="Enter your e-mail"
										   required="required" autofocus="autofocus" />
								</p>
							</div>
							<div class="text-center">
								<p>
									<input type="submit" value="Send" class="btn btn-primary" />
								</p>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div class="container container-fluid p-0">-->
<!--	<div class="card border-none">-->
<!--		<div class="card-body p-1">-->
<!--			<div class="row m-0">-->
<!--				<div class="col-6 col-md-6 col-lg-6 col-sm-none">-->
<!--					<img src="forgot-password.svg" class="img img-fluid mt-4"-->
<!--						 alt="Login page image" height="500" width="500">-->
<!--				</div>-->
<!--				<div class="col-6 col-md-6 col-lg-6 col-sm-none align-items-center  p-3">-->
<!--					<div>-->
<!--						<h2 class="text-center mt-5">Forgot Password</h2>-->
<!--					</div>-->
<!--					<div th:if="${message != null}" class="alert alert-success text-center">-->
<!--						[[${message}]]-->
<!--					</div>-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

<!--</div>-->
</body>
</html>