<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>CareU</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/navigationStyles.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
</head>
<body class="image-bg">
<div class="container-fluid p-0" >
    <div class="row m-0">
        <div class="col-6 col-md-6 col-lg-6 col-sm-none p-3">
            <img src="landing-page-image.svg" class="img img-fluid"
                 alt="Landing page image" height="500" width="500">
        </div>
        <div class="col-6 col-md-6 col-lg-6 col-sm-none text-center welcome-block p-3">
            <h3><img src="app_logo.png" class="img img-fluid mb-2"
                    alt="App logo" height="100" width="100">
                <br>One stop solution for your medical needs.</h3>
            <a th:href="@{/login}" class="btn btn-primary btn-lg active mt-2 mb-3" role="button" aria-pressed="true">Login</a>
            <h6>Not a member? <a th:href="@{/register}">Create Account</a></h6>
        </div>
    </div>
</div>
</body>
</html>