<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>Patient</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">

    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit"/>
    </form>
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
            <a class="navbar-brand" th:href="@{/patienthomepage}">
                <h1>CareU</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item dropdown">
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="profile-link" href="">Profile</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Appointments</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/cancelAppointment}">Cancel Appointment</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">[[${patient.firstName}]] [[${patient.lastName}]]</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" id="profileSettings" th:href="@{/patientProfile}">Profile
                                Settings</a>
                            <a class="dropdown-item" id="logoutLink" href="">Logout</a>
                        </div>
                    </li>

                </ul>
            </div>

        </nav>
    </div>
</div>
<br>
<div>
<!--    <h2 class="text-left">Hi, </h2>-->
    <h2 class="text-left">Hi, [[${patient.firstName}]] [[${patient.lastName}]]</h2>

    <!--        <h1 class="fw-bold text-center mt-5">CareU Landing</h1>-->
</div>
<br>
<div>
    <button><a id="HomePage" th:href="@{/searchDoctors}">Search Doctors</a></button>
</div>
<br>
<h3>Today's Appointments</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <th scope="row">Date</th>
    <th scope="row">Start Time</th>
    <th scope="row">End Time</th>
    <th scope="row">Doctor</th>
    <th scope="row">Doctor Contact</th>
    <th scope="row">Consulation Type</th>
    </thead>

    <tr th:each="patientTodaysAppointments: ${patientTodaysAppointments}">

        <td th:text="${patientTodaysAppointments.date}"></td>
        <td th:text="${patientTodaysAppointments.start_time}"></td>
        <td th:text="${patientTodaysAppointments.end_time}"></td>
        <td th:text="${patientTodaysAppointments.doctorName}"></td>
        <td th:text="${patientTodaysAppointments.doctorContact}"></td>
        <td th:text="${patientTodaysAppointments.consultationType}"></td>
    </tr>
</table>

<br>
<h3>Future Appointments</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <th scope="row">Date</th>
    <th scope="row">Start Time</th>
    <th scope="row">End Time</th>
    <th scope="row">Doctor</th>
    <th scope="row">Doctor Contact</th>
    <th scope="row">Consulation Type</th>
    </thead>

    <tr th:each="patientFutureAppointments: ${patientFutureAppointments}">

        <td th:text="${patientFutureAppointments.date}"></td>
        <td th:text="${patientFutureAppointments.start_time}"></td>
        <td th:text="${patientFutureAppointments.end_time}"></td>
        <td th:text="${patientFutureAppointments.doctorName}"></td>
        <td th:text="${patientFutureAppointments.doctorContact}"></td>
        <td th:text="${patientFutureAppointments.consultationType}"></td>
    </tr>
</table>

<br>
<h3>Past Appointments</h3>
<table class="table table-striped">
    <thead class="thead-dark">
    <th scope="row">Date</th>
    <th scope="row">Start Time</th>
    <th scope="row">End Time</th>
    <th scope="row">Doctor</th>
    <th scope="row">Doctor Contact</th>
    <th scope="row">Consulation Type</th>
    <th scope="row">Feedback</th>
    </thead>

    <tr th:each="patientPastAppointments: ${patientPastAppointments}">

        <td th:text="${patientPastAppointments.date}"></td>
        <td th:text="${patientPastAppointments.start_time}"></td>
        <td th:text="${patientPastAppointments.end_time}"></td>
        <td th:text="${patientPastAppointments.doctorName}"></td>
        <td th:text="${patientPastAppointments.doctorContact}"></td>
        <td th:text="${patientPastAppointments.consultationType}"></td>
        <td>
            <a th:href="@{'/patientFeedback/' + ${patientPastAppointments.appointment_id}}">Feedback</a>


        </td>
    </tr>
</table>

<div class="fixed-bottom">
    <p class="text-center">CareU - Copyright &copy; CareU</p>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#logoutLink").on("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit();
        });

        customizeDropDownMenu();
    });

    function customizeDropDownMenu() {
        $(".navbar .dropdown").hover(
            function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            },
            function () {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            }
        );

        $(".dropdown > a").click(function () {
            location.href = this.href;
        });
    }


</script>
</body>
</html>